<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Framework">

	<listeners>
		<listener class-name="com.framework.utilitites.Reporting" />
	</listeners>

	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="com.framework.testCases.TC_Login_01" />
			<!-- <class name="com.framework.testCases.TC_LoginDDT_02" /> -->
			<!--  <class name="com.framework.testCases.TC_AddCstmr_03" /> -->
		</classes>

	</test>

</suite> 